

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 60px;
}


.toggler-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  height: 30px;

}

.toggler-button div {
  height: 2px;
  width: 25px;
  border-radius: 4px;
  background-color: #fff;
}


.login-form {
  width: 340px;

}


#content-section {
  /* height: inherit; */
}

#form-container {
  height: 100%;
}

.footer {
  font-size: 12px;
   z-index: 8000;
}